/* ---------- COLORS ---------- */
$clr-light-text: hsl(200, 15%, 8%);
$clr-light-input: hsl(0, 0%, 52%);
$clr-light-background: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);
$clr-dark-elements: hsl(209, 23%, 22%);
$clr-dark-background: hsl(207, 26%, 17%);

$box-shadow: 0 4px 4px hsl(0, 0%, 95%);

$themes: (
  light: (
    text: hsl(200, 15%, 8%),
    bg: hsl(0, 0%, 98%),
    input: hsl(0, 0%, 52%),
    elements: hsl(0, 0%, 100%),
    shadow: hsl(0, 0%, 95%),
  ),
  dark: (
    text: hsl(0, 0%, 100%),
    bg: hsl(207, 26%, 17%),
    input: hsl(0, 0%, 100%),
    elements: hsl(209, 23%, 22%),
    shadow: hsl(207, 25%, 20%),
  ),
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

/* ---------- CSS RESET ---------- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---------- GENERAL STYLING ---------- */
body {
  font-size: 0.875rem;
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  margin: 0 auto;
}

/* ---------- COLORS STYLING ---------- */
@include themify($themes) {
  body {
    background-color: themed(bg);
    color: themed(text);
  }

  header {
    background-color: themed(elements);
    box-shadow: themed(shadow);
  }

  .btn {
    color: themed(text);
  }

  input {
    background-color: themed(elements);
    box-shadow: themed(shadow);
    color: themed(input);

    &::placeholder {
      color: themed(input);
    }
  }

  select {
    background-color: themed(elements);
    color: themed(input);
  }

  .country {
    background-color: themed(elements);
    box-shadow: themed(shadow);
  }
}

/* ---------- UTILITY CLASSES ---------- */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* ---------- REUSABLES ---------- */
.btn {
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  border: none;
  background: inherit;
  padding: 0;
}

@media (min-width: 100rem) {
  .btn {
    font-size: 1.125rem;
  }
}

span {
  font-weight: 800;
}

/* ---------- APP STYLING ---------- */

// ------> header

header {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;

  h1 {
    font-size: 1.125rem;
    font-weight: 800;
  }
}

@media (min-width: 52em) {
  header {
    padding: 2rem 3rem;
  }
}

@media (min-width: 100rem) {
  header {
    padding: 2rem 6rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

// ------> navigation
.search-form {
  flex-direction: column;
  margin: 0 1rem;
  gap: 2rem;

  .input-wrapper {
    position: relative;

    .icon-glass {
      position: absolute;
      left: 30px;
      top: calc(50% - 0.5em);
    }

    input {
      width: 100%;
      border: none;
      padding: 1rem 1rem 1rem 5rem;
      border-radius: 0.5rem;
    }
  }

  select {
    width: 210px;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
  }
}

@media (min-width: 52em) {
  .search-form {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem;

    input {
      width: 400px !important;
    }
  }
}

@media (min-width: 100rem) {
  .search-form {
    margin: 0 6rem;
  }
}

// ------> section countries list
section {
  margin: 2rem 3rem;

  .grid-wrapper {
    // max-width: 90rem;
    margin: 0 auto;
    .countries-list {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      padding: 0;
      gap: 2rem;

      .country {
        flex-direction: column;
        overflow: hidden;
        border-radius: 0.5rem;

        .country__flag {
          height: 160px;
          background-position: center;
          background-size: cover;
        }

        .country__info {
          font-size: 1rem;
          padding: 1rem 1.5rem 2rem;

          h2 {
            font-weight: 800;
            margin-bottom: 1rem;
          }

          ul {
            list-style: none;
            font-family: inherit;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 100rem) {
  section {
    margin: 2rem 6rem;
    .grid-wrapper {
      .countries-list {
        gap: 4rem;
      }
    }
  }
}
